@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#map {
    height: 250px;
    width: 300px;   
    margin-top: 20px; 
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    background-color: #392525;
    color: black;
    font-family: "Roboto", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 190px;
    height: 55px;

    color: white;
    background-color: #8B2A20;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    border-radius: 10px;

    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #6e221a;
}

.header {
    position: sticky;
    z-index: 1;

    padding: 25px 10px;
    top: 0;
}

.header .container {
    border-radius: 10px;

    padding: 20px;

    backdrop-filter: blur(5px);
    background-color: rgba(122, 132, 132, 0.132);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 35px;
}

.header img {
    filter: invert(1);
    width: 70px;
}

.header-nav a {
    font-size: 14px;
    opacity: 0.8;

    transition: opacity 0.2s;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.header-nav a.active {
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
}

.header-nav a:hover {
    opacity: 1;
}

.welcome {
    margin-top: -182px;
    height: 500px;
    padding-top: 250px;
    background-image: url(/src/images/welcome-bg.png);
    background-position: 20% 10%;
    background-size: 120%;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.welcome-subtitle,
.welcome-title,
.welcome p {
    width: 590px;
}


.out-product .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 45px;

    justify-content: center;
    padding: 60px 0;
}

.card {
    color: white;
    background-color: #040101;

    max-width: 560px;
    border-radius: 12px;

    overflow: hidden;

    text-align: center;

    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    text-transform: uppercase;
}

.card p {
    padding: 5px 20px;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    object-position: 50% 30%;
}

.card-1 {
    grid-column: span 2;
    grid-row: span 2;

    width: 560px;
}

.card-1 img {
    height: 550px;
}

.card-1 h3 {
    font-size: 100px;
}

.card-1 p {
    font-size: large;
    padding-bottom: 80px;
}

.popular {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-image: url(/src/images/money-motive.png);
    background-size: cover;

    height: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 20%;;

    padding-bottom: 60px;
}

.popular-wrapper {
    width: 550px;
    margin-right: 100px;
}

.popular h1 {
    text-transform: uppercase;
}

.popular-price {
    font-weight: bold;
    color: #8B2A20;
}

.popular-old-price {
    color: #8B2A20;
    font-weight: 500px;
    font-size: medium;

    text-decoration-line: line-through;
    opacity: 0.7;
}

.popular-price+.popular-old-price {
    margin-left: 7px;
}

.popular .btn {
    margin-top: 20px;
}


.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    height: 300px;
    color: white;

    padding-top: 60px;
}

.footer img {
    width: 100px;
}

.footer a {
    background-color:#ffffff ;
    padding: 10px;
    color: rgb(0, 0, 0);

    border-radius: 10px;
    transition: all 0.1s;
}

.footer a:hover {
    background-color:#000000 ;
    color: white;
}

.footer li {
    margin-bottom: 30px;
}

.footer-logo img:hover {
    filter: invert(1);
}


@media (max-width: 1050px) {
    .welcome {
        padding-bottom: 50px;

        background-position: 20% 38%;
    }

    .popular-wrapper {
        margin-right: 20px;
    }

    .popular {
        background-position: center 40%;
    }
}

@media (max-width: 1024px) {
    .welcome {
        margin-top: -200px;
    }
}

@media(max-width: 1184px) {
    .out-product .container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-1 {
        width: 635px;
    }
}

@media (max-width: 867px) {
    .welcome {
        margin-top: -230px;
    }

    .popular {
        background-position: -10% center;
    }
}


@media (max-width: 768px) {

    .container {
        width: 600px;
    }
    
    .header-list {
        display: none;

        flex-direction: column;
        gap: 15px;
    }

    .btn {
        width: 50%;
    }

    .welcome {
        background-position: 10% 50%;
    }

    .welcome-subtitle,
    .welcome-title,
    .welcome p {
        width: 100%;
    }

    .welcome p {
        width: 384px;
    }

    .out-products-txt {
        margin-top: -50px;
    }

    .out-product .container {
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
        row-gap: 50px;
    }

    .card-1 {
        grid-column: span 2;
        width: 100%;
        margin-inline: 50px;
        margin: 0 auto;
    }

    .card {
        width: 100%;
    }

    .popular-wrapper {
        width: 100%;
        margin-right: 0px;

        text-align: center;
        color: white;
    }

    .popular-wrapper h1 {
        display: inline;
        background-color: #000000;
    }

    .popular-wrapper p {
        display: inline;
        background-color: #000000;
    }

    .popular-wrapper .btn {
        margin: 20px auto 0;
    }

    .popular {
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        padding: 20px;

        background-position: 10% center;
    }

    .popular-price, .popular-old-price {
        color: white;
        backdrop-filter: blur(10px);
    }


    .footer-usefullinks-list,
    .footer-social-list {
        margin-bottom: 20px;
    }
}

@media(max-width:655px) {

    .out-product .container {
        grid-template-columns: 1fr;
        column-gap: 20px; 
        row-gap: 30px; 
        justify-items: center; 
    }

    .card {
        max-width: 400px; 
    }

    .card-1 {
        grid-column: span 1; 
        width: 100%;

        max-height: 400px;
    }

    .card-1 h3 {
        font-size: 25px;
    }

    .card-1 img {
        height: 60%;
    }
}

@media(max-width: 425px) {
    .welcome {
        font-size: 10px;
    }

    .welcome-subtitle,
    .welcome-title,
    .welcome .btn {
        margin-top: 40px;
    }
}


