@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;

    background-color: #1d170a;
    color: black;
    font-family: "Roboto", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 190px;
    height: 55px;

    color: white;
    background-color: #8B2A20;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    border-radius: 10px;

    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #6e221a;
}

.header {
    padding: 25px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 35px;
}

.header img {
    filter: invert(1);
    width: 70px;
}

.header-nav a {
    font-size: 14px;
    opacity: 0.8;

    transition: opacity 0.2s;
}

.header-nav a.active {
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
}

.header-nav a:hover {
    opacity: 1;
}

.welcome {
    margin-top: -122px;
    height: 500px;
    padding-top: 250px;
    background-image: url(/src/images/welcome-bg.png);
    background-position: 20% 10%; 
    background-size: 120%;
    background-repeat: no-repeat;
}

.welcome-subtitle, .welcome-title, .welcome p {
    width: 590px;
}

